@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.headerr {
    width: 1440px;
    height: 109px;
    background-color: #F4F4F4;
}
.control {
    width: 1000px;
    height: 48px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 61px;
    margin-left: 12px;
    margin-right: 12px;
}

.add-button {
    width: 79px;
    height: 26px;
    background-color: #0271C7;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 6px 12px 6px 12px;
    border-radius: 2px;
}

.update-button {
    width: 79px;
    height: 26px;
    background-color: #0271C7;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 6px 12px 6px 12px;
    margin-left: 10px;
    border-radius: 2px;
}

.input-search{
    width: 250px;
    height: 28px;
    border: 1px solid black;
    margin-left: 750px;
    margin-bottom: 40px;
}

.container1 {
    width: 1024px;
    height: 109px;
    border: 1px solid black;
    margin-left: 208px;
}
.main {
width: 1440px;
height: 700px;
}
.container2 {
width: 1024px;
height: 700px;
margin-left: 208px;
margin-right: 208px;
}
table {
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 12px;
    margin-right: 12px;
   
}
td {
    border: 1px solid black;
    height: 120px;
    width: 143px; 
    color: #6B6B6B;
    padding: 8px;
}
.day {
    width: 126px;
    height: 16px;
}
.event {
    width: 126px;
    height: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.singer {
    height: 32px; 
}
.blue {
  background-color: #C2E4FE;
}
.blue:hover {
    background-color:#27A1FF;
}
.head-table {
    height: 48px;
    width: 1000px;
    margin-left: 12px;
    margin-right: 12px;
}

/*стрелочка пока такая*/
.prev {
    border: solid #292929;;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.button-prev {
    width: 32px;
    height: 24px;
    display: inline-block;
}
.button-next {
    width: 32px;
    height: 24px;
    margin-left: 24px;
    display: inline-block;
}

.next 
{
    border: solid #292929;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    
}
.month-change {
   
    height: 24px;
    font-family: 'Roboto', sans-serif;
    color: #292929;
    font-size: 18px;
    margin-top: 13.5px;
    display: inline-block;
 
}
.month {
    width: 108px;
    height: 24px;
    display: inline-block;
    margin-left: 24px;
}
.today {
    width: 59px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    padding: 2px 6px 2px 6px;
}


/* Service svg */
.visually-hidden {
    display: none;
}
